services:
  db:
    image: postgres:14-alpine

    ports:
      - "5432:5432"

    environment:
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_DB=postgres

    volumes:
      - ./data/db:/var/lib/postgresql/data

  frontend:
    build:
      context: ./frontend
      dockerfile: Dockerfile

    ports:
      - "5173:5173"

    volumes:
      - ./frontend:/app/frontend
      - /app/frontend/node_modules

    depends_on:
      - backend

  backend:
    build:
      context: ./backend
      dockerfile: Dockerfile

    ports:
      - "8000:8000"

    volumes:
      - ./backend:/app/backend

    environment:
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_USER=postgres
      - POSTGRES_DB=postgres
      - DATABASE_URL=postgres://postgres:postgres@db:5432/postgres

    depends_on:
      - db
