@import url('https://fonts.googleapis.com/css?family=Poppins:700|Poppins:400');
/* color palette from <https://github.com/vuejs/theme> */
:root {
  .light {
    --text: #110e0e;
    --background: #fcfcfc;
    --primary: #98837c;
    --secondary: #b1beac;
    --accent: #94ad98;
  }
  .dark {
    --text: #f1eeee;
    --background: #030303;
    --primary: #836e67;
    --secondary: #465341;
    --accent: #526b56;
  }
}

/* @media (prefers-color-scheme: dark) {
  :root {
    --text: #f1eeee;
    --background: #030303;
    --primary: #836e67;
    --secondary: #465341;
    --accent: #526b56;
  }
} */

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  transition:
    color 0.5s,
    background-color 0.5s;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  font-family: 'Poppins';
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Poppins';
  font-weight: 700;
}

html {
  font-size: 100%;
} /* 16px */

h1 {
  font-size: 4.21rem; /* 67.36px */
}

h2 {
  font-size: 3.158rem; /* 50.56px */
}

h3 {
  font-size: 2.369rem; /* 37.92px */
}

h4 {
  font-size: 1.777rem; /* 28.48px */
}

h5 {
  font-size: 1.333rem; /* 21.28px */
}

small {
  font-size: 0.75rem; /* 12px */
}
