@import './base.css';

#app {
  font-weight: normal;
  max-width: 100%;
}

a {
  text-decoration: none;
  transition: background-color 0.5s;
}

.bold {
  font-weight: bold;
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }
}
